* {
    font-family: 'Courier Prime', monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
    height: 500px;
}

ul.navbar {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 20px 0 0 0;
    justify-content: flex-start;
}

.logo {
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #ffffff;
}

li {
    padding-left: 20px;
}

.mainpic {
    height: 230px;
    margin-left: 15px;
}

.vizitkarte {
    display: flex;
    margin: 100px 0px 100px 0px;
    justify-content: space-between;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 230px;
}

#first {
    align-self: flex-start;
}

h1 {
    margin: 0px;
}