* {
    font-family: 'Courier Prime', monospace;
}

/* Header */

html {
    min-width: 565px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    flex: 1 0 500px;
    background-color: #1f2937;
    padding-left: 10%;
    padding-right: 10%;
    flex-basis: 1600px;
}

.navbar {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.logo > img {
    height: 40px;
}

a {
    text-decoration: none;
    color: #e9e9e9;
}

a:hover {
    font-weight: bold;
}

.secondary,
li {
    font-size: 18px;
    color: #E5E7EB;
}

.vizitkarte {
    display: flex;
    flex-direction: row-reverse;
    margin: 100px 0px 100px 0px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 420px;
}

.hero {
    margin: 0px;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.mainpic {
    display: flex;
    height: 230px;
    margin-left: 15px;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 432px;
}

.mainpic > img {
    height: 230px;
}

#first-button {
    border: 2px solid #82c7ff;
    border-radius: 8px;
    background-color: #448bfc;
    color: #ffffff;
    padding: 8px 16px 6px 16px;
    font-weight: bold;
    transition-duration: 0.4s;
}

#first-button:hover {
    background-color: #5f9cff;
}

/* Gallery */

.gallery {
    display: flex;
    flex-direction: column;
    flex: 1 0 500px;
    background-color: #F9FAF8;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: space-evenly;
}

.hero-2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 35px 0px 35px 0px;
    text-align: center;
}

.cardholder {
    display: flex;
    justify-content: center;
    gap: 40px;
    row-gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
}

.card > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #3882f6;
}

.card-description {
    text-align: center;
}

/* Quote section */

.quote {
    display: flex;
    flex-direction: column;
    flex: 1 0 500px;
    background-color: #E5E7EB;
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
    justify-content: center;
}

.wisewords > p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0px;
    margin-top: 48px;
}

.author {
    align-self: flex-end;
}

.author > p {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin-top: 8px;
}

/* Signup section */

.signup {
    display: flex;
    flex: 1 0 350px;
    background-color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: center;
}

.sign-up-background {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #ffffff;
    gap: 150px;
}

.button-container {
    align-self: center;
}

.button-description > p {
    margin-top: 0px;
}

.button-description > h3 {
    margin-bottom: 0px;
}

#second-button {
    border: 2px solid #82c7ff;
    border-radius: 8px;
    background-color: #448bfc;
    color: #ffffff;
    padding: 8px 16px 6px 16px;
    font-weight: bold;
    transition-duration: 0.4s;
}

#second-button:hover {
    background-color: #5f9cff;
}

/* Footer */

.footer {
    display: flex;
    flex: 1 0 100px;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
}

.footer > p {
    color: #ffffff;
}



/* Stils maziem ekrÄniem */

@media (max-width: 1080px) {

    /* Header */

    .navbar {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
    }
    
    .logo {
        padding-bottom: 0px;
        margin-right: 0;
    }

    .vizitkarte {
        flex-wrap: wrap;
        margin: 10px 0px 0px 0px;
    }

    .mainpic {
        height: 200px;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .mainpic > img {
        height: 230px;
    }

    .about {
        align-items: center;
        margin-bottom: 20px;
    }

    button.about {
        align-self: center;
    }

    p.secondary {
        margin-top: 10px;
    }

    .hero {
        text-align: center;
    }

    .secondary {
        text-align: center;
    }

    #first {
        margin-bottom: 16px;
    }

    /* Sign-up container */

    .sign-up-background {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    #h3-centered,
    #p-centered {
        text-align: center;
    }

    #h3-centered {
        margin-top: 0px;
    }
}
